:root{
    --primary-color: #FAFAFA;
    --secondary-color: #E8E4D8;
    --button: #1A120F;
    --icon1:#4B2509;
    --icon2:#D97233;
    --icon3:#E7A849;  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.logo img{
    padding-right: 0px; 
}
/*NavBar*/
nav{
    /*position: fixed;*/
    display: flex;
    width: 100% ;
    justify-content: space-around;
    background-color:#1A120F;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.nav-links{
    display: flex;
    list-style: none;
}
.nav-links li a{
    padding: 20px;
    color: var(--primary-color);
    text-decoration: none;
}
/* img do topo*/
#intro img{
    width: 100%;
}
.txt-intro{
    position: absolute;
    top: 215px;
    left: 480px; 
    /*transform: translate(-50, -50%);*/
    color: var(--primary-color);
    text-align: center;
    background-color: transparent;
    padding: 5px;
}
.i-title{
    font-size: 45px;
    font-weight: 800;
    width: 500px;
    overflow-wrap: break-word;
    word-wrap: break-word; 
    word-break: break-word;
}
.tit-s{
    font-style: italic;
   margin-top: -10px;
}

/*Menu Sobre*/
#sobre{
    background-color:var(--primary-color);  
}
.s-title{
    font-weight: 600;
    font-size: 35px;
    align-items: center;
    margin-bottom: -40px;
}
.grid{
    /*border-right: solid 30px; */  
    display: grid;
    grid-template-columns: 200px, 100px; 
    padding-bottom: 0px;
}
.grid div{ 
  background-color: var(--primary-color);
  text-align: center;
  align-items: center;
  padding: 50px 0px; 
}
.grid img{
    padding-left: 20px;  
}
.leg-s{
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    width: 600px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}
.txt p{
    position: absolute;
    padding: 10px 50px 10px 50px;
    font-size: 30px;
    font-style: italic;
}
.atxt{
    /*left: 250px;
    top:30em;*/
   top:30em;
   /* left:17.5em;*/
   
    left: 297px;
    text-align: center;
    align-items: center;
    background-color: var(--button);
    color: var(--secondary-color);
}
.ptxt{
   /* left: 50%;
    top:118%;*/
    top:30em;
    left:26.05em;
    text-align: center;
    align-items: center;
    background-color: var(--button);
    color: var(--secondary-color);
}
/*Menu Produto*/
#produto{
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 25);

}
.icon{
    margin-left: 300px;
  font-size: 10em; 
}
#icon-pa{
    width: px;
    color: #4B2509;
  }
#icon-ca{ 
    color:#D97233
}
#icon-mi{
    color: #E7A849;
}
.title{
    margin-left: 300px;
    font-weight: 800;
    font-size: 30px;
    align-items: center;
    text-align: center;
    display: flex;
}
.leg-p{
    margin-left: 300px;
    font-size: 12px;
    align-items: center;
    width: 250px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;

}
.fourth-section {
  padding: 60px 0 20px 0;
}


.Portifolio container {
  margin-bottom: 40px;
}


.Portifolio-img,
.infosPortifolio {
  flex: 1;
  margin: 0 10px;
}


.Portifolio-img img {
  display: block;
  max-width: 580%;
}


.infosPortifolio h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}


.infosPortifolio p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}


.infosPortifolio a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 8px 20px;
}


@media (max-width: 739px) {
  .Portifolio-img,
  .infosPortifolio {
    margin-left: 0px;
    margin-right: 0px;
  }
}

/*#portifolio{
    /*background-color:var(--primary-color);
    background-color: red;
    display: grid;
    grid-template-columns: 200px,auto, 200px;
    /*text-align: center;
  align-items: center;
    padding-left: 320px; 
    padding-bottom: ;
    
}

/*.grid{ 
    display: grid;
    grid-template-columns: 200px, 100px; 
    padding-bottom: 0px;
}
.grid div{ 
  background-color: var(--primary-color);
  
}
.grid img{
    padding-left: 20px;  
}*/
/*Botões*/
.button {
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    border: solid 2px;
    width: 150px;
    border-color: var(--button);
    color: var(--button);
    background-color: transparent;
    cursor: pointer;
  
}
.button:hover{
    background-color: var(--button);
    color: var(--secondary-color);
}
.btn{
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 600;
    border: solid 2px;
    width: 150px;
    border-color: var(--button);
    color: var(--button);
    background-color: transparent;
    cursor: pointer;
    margin-top: auto;
    margin-left: 50em;
}
.btn-email{
    padding: 10px 0px;
    font-size: 15px;
    font-style: italic;
    border: solid 2px;
    width: 180px;
    border-color: var(--button);
    color: gray;
    background-color: transparent;
    cursor: pointer;
    /*margin-top: auto;
    margin-left: 50em;*/
}
.email{
    padding: 10px 0px;
    font-size: 15px;
    border: solid 2px;
    width: 150px;
    border-color: #000;
    color: #FAFAFA;
    background-color: #000;
    cursor: pointer;
    /*margin-top: auto;
    margin-left: 50em;*/
}
/*Menu contato*/
#contato{
    background-color: var(--secondary-color); 
}
.tit{
    font-size: 30px;
    font-weight: 800;
    margin-left: 320px;
    align-items: center;
}
.leg{
    align-items: center;
    margin-left: 320px;
    margin-right: auto;
    font-style: italic;
    font-size: 18px;
    width: 600px;
    overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}
.inputs input{
    display: block;
  
}

/*Rodape*/
#rodape{
    display: flex;
    list-style: none;
   /* display: flex;
   padding-top: 30px;
   padding-left: 320px;
    /*align-items: center;
    justify-content: space-between;*/
   
    background-color: #D8D4C9;
}
#rodape li p{
   /* padding: 20px;
    color: var(--primary-color);
    text-decoration: none;
    justify-content: space-around;
}

 @media screen and (max-widht: 768px){
        .container{
            width: 100%;
            flex-direction: column;
        }
    }
